#canvas{
    display: flex;
    flex-wrap: wrap;
    width: 960px;
    margin: 0 auto;
}
.grid-square{
    box-sizing: border-box;
}

body {
    font-family: Avenir, Montserrat, Corbel, 'URW Gothic', source-sans-pro, sans-serif;
    background-color: rgb(177, 133, 167);
}

#controls{
    display: flex;
    flex-direction: center;
    flex-direction: column;
}

h1 {
    align-self: center;
    font-weight: bold;
    color: rgb(255, 244, 233);
}

#slider {
    width: 200px;
    align-self: center;
}

#confirm {
    width: 100px;
    align-self: center;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 8px;
    height: 25px;
    background-color: rgb(141, 107, 148);
    color:rgb(255, 244, 233);
    border: 2px solid rgb(255, 244, 233);
}

input[type="range"] {
    accent-color: rgb(232, 219, 197);
  }

 